@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
  font-weight: 700;
  color: #082423;
}
li:hover {
  box-shadow: 0 0 5px #082423;
}

.c-site-header {
  display: flex;
  justify-content: space-between;
  background-color: #f8f1f2;
}
.c-site-header img {
  width: 25rem;
  height: 30rem;
  padding-right: 5rem;
  padding-bottom: 0rem;
  display: none;
  object-fit: cover;
}
.d-site-header {
  height: 31.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.6875rem;
  color: #082423;
}
.d-site-header h1 {
  font-size: 3rem;
  line-height: 6.25rem;
}

.achievements-container {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28rem;
}

.circles-container {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
}

.circle {
  height: 10.25rem;
  width: 10.25rem;
  flex-direction: column;
  border-radius: 50%;
  background-color: #f2f6f6;
  position: relative;
}

.circle h1 {
  color: #f26440;
  font-size: 3.75rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-weight: 700;
}

.circle i {
  color: #f26440;
  font-size: 3.75rem;
  position: absolute;
  top: 2rem;
  left: 2.7rem;
}

.circle span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #082423;
  position: absolute;
  top: 6rem;
  left: 2.75rem;
}

.view-container {
  height: 30rem;
  padding: 2.6875rem;
  position: relative;
}

.portfolio-circle {
  position: absolute;
  top: 7rem;
  left: 2.6875rem;
  z-index: 2;
  background: #f26440;
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.portfolio-circle a {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: 400;
}

.project-circle {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  width: 19.25rem;
  height: 19.25rem;
  border-radius: 50%;
  background: #286f6c;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-circle :first-child {
  font-size: 1.5rem;
  font-weight: 400;
}

.project-circle :last-child {
  font-size: 2.25rem;
  font-weight: 700;
}

.video-container {
  padding: 2.6875rem;
  color: #082423;
}
.video {
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;
  background-color: #f8f1f2;
  border-radius: 4px;
}
video {
  width: 18rem;
  object-fit: contain;
}
.info-container {
  background-color: #286f6c;
  height: 28.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2.6875rem;
  padding-right: 2.6875rem;
  padding-bottom: 10rem;
  padding-top: 2rem;
}
.info-container h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3.4375rem;
}
.info-container p {
  font-size: 1.125rem;
  line-height: 1.8125rem;
  font-weight: 400;
  max-width: 30rem;
}
.project-cards {
  padding: 2.6875rem;
  display: flex;
  justify-content: space-between;
  transform: translateY(-65%);
  max-width: 35rem;
}
.card {
  width: 10.5625rem;
  height: 12.25rem;
  background-color: #fff;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.95rem;
}

.card img {
  width: 8.6875rem;
  height: 8.6875rem;
  object-fit: contain;
}
.card a {
  font-size: 1rem;
  line-height: 1.8125rem;
  font-weight: 700;
  color: #082423;
  cursor: pointer;
}

.contact {
  height: 20rem;
  color: #082423;
  padding: 2.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  bottom: 7rem;
}

.contact h2 {
  font-size: 2.25rem;
  font-weight: 700;
}
.contact p {
  font-size: 1.125rem;
  font-weight: 400;
}

.message {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.message :first-child {
  z-index: 2;
}
.orange-cirlce {
  width: 4.6875rem;
  height: 4.6875rem;
  background-color: #f26440;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  left: 5.6rem;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 2.6875rem;
  align-items: center;
  background-color: #082423;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}
.l1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.l2 a {
  display: flex;
  align-items: center;
}
.l2 p {
  margin-left: 1rem;
}

@media (min-width: 900px) {
  .c-site-header img {
    display: block;
  }
  .p-circle {
    position: relative;
    left: 15rem;
  }
  main {
    position: relative;
  }
  #info {
    position: absolute;
    top: 27rem;
    right: 3rem;
    width: 28rem;
  }
  .info-container {
    background-color: white;
    color: #082423;
  }
  .contact {
    position: absolute;
    right: 3rem;
    bottom: 1rem;
    width: 28rem;
  }
}
@media (min-width: 1430px) {
  #info {
    top: 0.5rem;
    height: 35rem;
    right: 0;
  }
  .info-container {
    height: inherit;
  }
  .view-container {
    position: relative;
    left: 8rem;
    bottom: 8rem;
    margin: 0;
    width: 20rem;
  }
  .contact {
    bottom: 0.5rem;
    right: 0rem;
  }
  .video {
    background-color: inherit;
    width: 65%;
    padding-top: 56.25%;
    height: 0px;
    position: relative;
    margin: 0 auto
  }
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .contact {
    position: relative;
  }
  .d-site-header h1 {
    font-size: 4.1875rem;
  }
}
/* my .com and orange-circle original color  #f26440; */
